{% extends "nfsmain/base.html" %}
{% block pagetitle %}Список высказываний{% endblock %}
{% block pagebody %}
    <h1>Высказывания</h1>
    {% for statement in statement_list %}
        <p><a href = "{% url 'main:statement_detail' statement.id %}">«{{ statement.text|truncatewords:10 }}»</a><br />
        от <a href="{% url 'main:speaker_detail' statement.speaker.id %}">{{ statement.speaker }}</a><br />
        Опубликовано: {% for media in statement.media.all %}
        <a href="{{ media.home_url }}">{{ media.name }}</a>,
        {% endfor %}<br />
        {{ statement.related }}</p>
    {% endfor %}
{% endblock %}